.venv/
__pycache__/
*.py[oc]
.git/
.gitignore
.env
.env.*
data/
*.log
docs/
infrastructure/build-and-deploy.sh.local
.DS_Store
.idea/
.vscode/
.python-version
.ruff_cache/
.mypy_cache/
.pytest_cache/
